# Ignore les inventaires contenant des IP réelles
ansible/inventory/hosts.yaml
ansible/inventory/hosts.yaml
.local-backup/

# Ignore les fichiers secrets éventuels
ansible/vars/secrets.yml
*.vault
*.secret
