# Ignore les inventaires contenant des IP réelles
ansible/inventory/hosts.yaml
ansible/inventory/hosts.yaml

# Ignore les fichiers secrets éventuels
ansible/vars/secrets.yml
*.vault
*.secret

# Ignore les sauvegardes locales
.local-backup/

# Secrets
/secrets/*
!/secrets/*.example

# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# Docker
*.log

# IDE
.vscode/
.idea/
.DS_Store

#Vault
vault/*
*.init
